*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* *{
    direction: rtl;
} */
body{
    background-color: papayawhip;
}
*:first-letter{
    text-transform: capitalize;
}
main.container{
    min-height: 100%;
    max-height: 100%;;
}
.container{
    padding: 20px;
    margin: 20px;
}
.option-list{
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin: 50px;
}
.text-container{
    font-family: 'text font';
    font-size: 200%;
    cursor: pointer;
}
.btn{
    border: none;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}
.option-btn{
    border-bottom: 1px solid black;
    background-color: papayawhip;

}
.option-btn:hover{
    color: white;
    background-color: black;
}
.hl{
    color: rgb(245, 195, 30);
    text-transform: capitalize;
    cursor: pointer;
}
.hl-char{
    color: rgb(245, 195, 30);
}
.hl-place{
    color: rgb(245, 195, 30);
}
.hl-attr{
    color: rgb(245, 195, 30);
}
.hl-skill{
    color: rgb(245, 195, 30);
}
.nav{
    border-bottom: 1px solid black;
}
.nav-list{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.nav-link{
    text-decoration: none;
    color:rgb(245, 195, 30);
    font-weight: bold;
}
.flex{
    display: flex;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.col{
    display: flex;
    flex-direction: column;
}
.padding-20{
    padding: 20px;
}
.margin-20{
    margin: 20px;
}
.black-white{
    background-color: rgba(0, 0, 0, 0.507);
    color: white;
}
.header{
    border-bottom: 1px solid rgba(0, 0, 0, 0.322);
}
.footer{
    border-top: 1px solid rgba(0, 0, 0, 0.322);
}